<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Instagram Auto Like & Comment :: wisnugro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Binary Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    <!-- //web font -->
</head>
<body>
<h1>Instagram Auto Like & Comment</h1>
<div class="main-agileits">
    <!--form-stars-here-->
    <div class="left-form-w3-agile">
        <h2>Login</h2>
        <form action="#" method="post">
            <p>Username</p>
            <input type="text" class="email" name="username" placeholder="" required=""/>
            <p>Password</p>
            <input type="password" class="password" name="password" placeholder="" required=""/>
        </form>
    </div>
    <!--//form-ends-here-->
    <div class="right-map-w3-agile">
        <h2>Content</h2>
        <form action="#" method="post">
            <div class="inputs-w3ls">
                <p>Search</p>
                <input type="text" name="search" placeholder="" required="">
            </div>
            <div class="inputs-w3ls">
                <p>Post</p>
                <input type="text" class="email" name="posts" placeholder="" required=""/>
            </div>
            <div class="inputs-w3ls-textarea">
                <p>Comment</p>
                <textarea name="comment" rows="5"></textarea>
            </div>
            <input id="submit" type="submit" value="LET'S GO!">
        </form>
    </div>
    <div class="clear"></div>
</div>
<!-- copyright -->
<div class="copyright w3-agile">
    <p> © 2017 <a href="https://www.instagram.com/wisnugro" target="_blank">@wisnugro</a> . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<!-- //copyright -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
    $('#submit').click(function(e) {
        e.preventDefault();

        $(this).val('Please Wait...');

        $.ajax({
            url: '/',
            method: 'post',
            data: {
                username: $('input[name=username]').val(),
                password: $('input[name=password]').val(),
                search: $('input[name=search]').val(),
                posts: $('input[name=posts]').val(),
                comment: $('textarea[name=comment]').val()
            },
            success: function(result) {
                $('#submit').val("LET'S GO!");
                if(result.status == 'success') {
                    swal("Success", "Check `Posts You've Liked` on your instagram", "success");
                } else {
                    swal("Whoops", "Something went wrong", "warning");
                }
            }
        });
    });
</script>
</body>
</html>